<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card on Hover</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="container">
        <!----------1---------------------->
        <div class="card">
            <div class="imgBx" data-text="Irradiance">
                <img src="assets\solar-panel.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Irradiance</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolorem excepturi inventore distinctio, quis velit exercitationem odit molestiae enim. Ipsum, facilis deleniti rem enim ad omnis nihil alias reiciendis exercitationem!</p>
                    <a href="#">Read graph</a>
                </div>
            </div>
        </div>
        <!----------2---------------------->
        <div class="card">
            <div class="imgBx" data-text="Control">
                <img src="assets\temperature-control.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Control</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolorem excepturi inventore distinctio, quis velit exercitationem odit molestiae enim. Ipsum, facilis deleniti rem enim ad omnis nihil alias reiciendis exercitationem!</p>
                    <a href="#">Read graph</a>
                </div>
            </div>
        </div>
        <!----------3---------------------->
        <div class="card">
            <div class="imgBx" data-text="Humidity">
                <img src="assets\humidity.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Humidity</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolorem excepturi inventore distinctio, quis velit exercitationem odit molestiae enim. Ipsum, facilis deleniti rem enim ad omnis nihil alias reiciendis exercitationem!</p>
                    <a href="#">Read graph</a>
                </div>
            </div>
        </div>
        <!----------4---------------------->
        <div class="card">
            <div class="imgBx" data-text="Temperature">
                <img src="assets\global-warming.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Temperature</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum dolorem excepturi inventore distinctio, quis velit exercitationem odit molestiae enim. Ipsum, facilis deleniti rem enim ad omnis nihil alias reiciendis exercitationem!</p>
                    <a href="#">Read graph</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>